.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: purple;
  font-weight: 400;
  font-family: cursive;
  font-style: normal;
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-family: cursive;
  font-weight: 200;

}

ul {
  columns: 2;
}
