h1 {
  color: green;
  text-align: center;
  line-height: inherit;
  text-align: left;
  font-family: cursive;
  font-size: 30px;
}

h2 {
  font-family:sans-serif;
  color: #2c124f;
  font-weight: 300;
  font-size: 40px;
}

ol{
  text-align: left;
  color: gray;
  font-family: sans-serif;
}

img {
  padding-bottom: 30px
}

p {
  max-width: 300px
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

body {
  background-color: #ffffe6
}
